@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");
@import url("colors.css");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 15px;
  color: var(--light-grey);
  font-family: "Overpass", sans-serif;
  background-color: var(--darkest-blue);
}

body,
main {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.other {
  display: none;
}

.card {
  background-color: var(--dark-blue);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 1.5rem;
  gap: 1.5rem;
  width: 24rem;
  padding: 2rem;
  font-size: 0.9rem;
  line-height: 1.2;
}

#scores {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.card-star,
.rounded,
.active {
  background-color: var(--medium-blue);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: grid;
  place-content: center;
  text-align: center;
  transition: all 0.5s;
}

.rounded:hover {
  cursor: pointer;
  background-color: var(--light-grey);
  color: var(--white);
}

.active {
  background-color: var(--orange);
  color: var(--white);
}

h1 {
  color: var(--white);
  font-size: 1.5rem;
}

.card a {
  text-align: center;
  padding: 0.8rem 1rem;
  background-color: var(--orange);
  text-decoration: none;
  color: var(--white);
  border-radius: 1.5rem;
  letter-spacing: 0.1rem;
  transition: all 0.5s;
  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;
}

.card a:hover {
  background-color: var(--white);
  color: var(--orange);
  animation: switch ease-out 3s;
}

/* Thank card */

.hidden {
  display: none;
}

#thank-card {
  align-items: center;
  font-size: 0.9rem;
}

#thank-card > p {
  color: var(--orange);
  display: inherit;
  justify-content: center;
  background-color: var(--medium-blue);
  padding: 0.5rem 0.9rem;
  border-radius: 1rem;
}

#selected-score {
  padding-inline: 0.2rem;
}

#thank-card > img {
  background: transparent;
  width: 50%;
}

#thank-card > span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0.85rem;
}

#thank-card > span:nth-child(1) {
  text-align: center;
  color: var(--orange);
}

#thank-card > span:nth-child(4) {
  line-height: 1.2rem;
  text-align: center;
  padding-inline: 0.5rem;
}

/* Footer */

.attribution {
  display: flex;
  gap: 0.5rem;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 650px) {
  main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
}
